<div class="music-list-container">
  <!-- Left Sidebar -->
  <app-left-side-menu></app-left-side-menu>

  <!-- Center Section -->
  <div class="list-wrapper">
    <h1>{{nameOfArtist}}</h1>
    <div class="table-header">
      <div class="col index header">#</div>
      <div class="col title">Track</div>
      <div class="col album">Album</div>
      <div class="col duration">Duration</div>
      <div class="col icon">▶</div>
  </div>
    <!-- <infinite-scroll
    [numberOfItemToShow]="infiniteScrollArgs.numberOfItemToShow"
    [records]="recordAngular()"
    [totalRecords]="totalRecordsAngular()"
    [isLoading]="loading()"
    [myError]="errorAngular()"
    (recordsChange)="infiniteScrollArgs.onRecordsChange($event)"
    [fetchRecords]="infiniteScrollArgs.fetchRecords"
    part="containerList">

      <li *ngFor="let track of recordAngular(); let i = index"
          class="table-row"
          (click)="onClickHandel(track)"
          slot="replaceMe">

        <div class="col index">{{ i + 1 }}</div>

        <div class="col title">
          <img class="track-thumb" [src]="track.thumbnail" alt="{{ track.title }}" />
          <span class="track-title">{{ track.title }}</span>
        </div>

        <div class="col album">
          <img class="album-thumb" [src]="track.albumCover" alt="{{ track.albumTitle }}" />
          <span class="album-title">{{ track.albumTitle }}</span>
        </div>

        <div class="col duration">{{ formatDuration(track.duration) }}</div>

        <div class="col icon">▶</div>
      </li>
  </infinite-scroll> -->

  <ul class="infinite-scroll-container">
      <li *ngFor="let track of totalRecordsAngular(); let i = index"
          class="table-row"
          (click)="onClickHandel(track)"
          slot="replaceMe">

        <div class="col index">{{ i + 1 }}</div>

        <div class="col title">
          <img class="track-thumb" [src]="track.thumbnail" alt="{{ track.title }}" />
          <span class="track-title">{{ track.title }}</span>
        </div>

        <div class="col album">
          <img class="album-thumb" [src]="track.albumCover" alt="{{ track.albumTitle }}" />
          <span class="album-title">{{ track.albumTitle }}</span>
        </div>

        <div class="col duration">{{ formatDuration(track.duration) }}</div>

        <div class="col icon">▶</div>
      </li>
    </ul>

  </div>

  <!-- Right Sidebar -->
  <div class="Right-side-container" *ngIf="currentSelectedTrack() as track">
    <img [src]="track.thumbnail"
         alt="music photo"
         class="now-playing-cover">

    <p>Now Playing</p>
    <h3>{{ track.title }}</h3>
    <h4>{{ track.albumTitle }}</h4>

    <audio controls autoplay [src]="track.trackUrl"></audio>
  </div>
</div>
